@charset "utf-8";

:root {
  --mycolor: green;
}

@import "./inc";

%temp {
  font-size: 1.25rem;
}

#app {
  @extend %temp;
  color: var(--mycolor);
  & p:nth-child(2) {
    color: red;
  }
}

#app {
  transform: translateX(50%);
}

#help {
  transform: translateX(50%);
}

#itemList {
  display: flex;
}

@for $i from 1 through 5 {
  .b-#{$i} { font-size: #{$i}rem; }
}