doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0")
    title  #{htmlWebpackPlugin.options.title}
  body
    main#contents
      h1 #{htmlWebpackPlugin.options.title}
      #app